.why{

padding:120px 8%;

display:grid;

grid-template-columns:1fr 1fr;

gap:70px;

align-items:center;

background:white;

}

.why h2{

font-size:48px;

color:#123D73;

margin:25px 0;

}

.why p{

line-height:1.8;

color:#666;

}

.why-right{

display:flex;

flex-direction:column;

gap:25px;

}

.why-card{

display:flex;

gap:25px;

padding:30px;

border-radius:20px;

background:#f8fafc;

transition:.3s;

}

.why-card:hover{

transform:translateX(10px);

}

.why-icon{

width:70px;

height:70px;

background:#123D73;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

flex-shrink:0;

}

.why-icon svg{

font-size:28px;

color:#D9A520;

}

.why-card h3{

color:#123D73;

margin-bottom:10px;

}