.featured-products{

padding:120px 8%;

background:#f8f9fb;

overflow:hidden;

}

.featured-header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:50px;

}

.featured-header span{

color:#D9A520;

font-weight:700;

letter-spacing:2px;

}

.featured-header h2{

font-size:46px;

margin-top:12px;

color:#123D73;

}

.slider-buttons{

display:flex;

gap:15px;

}

.slider-buttons button{

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#123D73;

color:white;

font-size:18px;

cursor:pointer;

transition:.35s;

}

.slider-buttons button:hover{

background:#D9A520;

}

.product-slider{

display:flex;

gap:30px;

overflow-x:auto;

scroll-behavior:smooth;

padding-bottom:15px;

}

.product-slider::-webkit-scrollbar{

display:none;

}

.featured-card{

min-width:330px;

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 15px 40px rgba(0,0,0,.08);

transition:.35s;

flex-shrink:0;

}

.featured-card:hover{

transform:translateY(-10px);

}

.featured-card img{

width:100%;

height:260px;

object-fit:cover;

}

.featured-info{

padding:25px;

}

.featured-info p{

color:#D9A520;

font-weight:700;

margin-bottom:10px;

}

.featured-info h3{

font-size:24px;

margin-bottom:10px;

color:#123D73;

}

.featured-info h4{

font-size:26px;

margin-bottom:25px;

color:#111;

}

.featured-buttons{

display:flex;

gap:10px;

align-items:center;

}

.view-btn{

flex:1;

text-align:center;

padding:13px;

background:#123D73;

color:white;

border-radius:40px;

text-decoration:none;

font-weight:bold;

transition:.35s;

}

.view-btn:hover{

background:#D9A520;

}

.cart-btn{

flex:1;

padding:13px;

border:none;

background:#D9A520;

color:white;

border-radius:40px;

font-weight:bold;

cursor:pointer;

transition:.35s;

}

.cart-btn:hover{

background:#123D73;

}

.whatsapp-card{

width:48px;

height:48px;

border-radius:50%;

background:#25D366;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:20px;

text-decoration:none;

transition:.35s;

}

.whatsapp-card:hover{

transform:scale(1.08);

}

@media(max-width:768px){

.featured-products{

padding:90px 5%;

}

.featured-header{

flex-direction:column;

align-items:flex-start;

gap:20px;

}

.featured-header h2{

font-size:34px;

}

.featured-card{

min-width:290px;

}

.featured-buttons{

flex-wrap:wrap;

}

}