.my-orders{

padding:120px 8%;

background:#f7f8fb;

min-height:100vh;

}

.container{

max-width:1100px;

margin:auto;

}

.order-card{

background:white;

padding:25px;

border-radius:15px;

margin-bottom:20px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.order-header{

display:flex;

justify-content:space-between;

margin-bottom:15px;

}

.order-card a{

display:inline-block;

margin-top:15px;

color:#0F3E8A;

font-weight:bold;

text-decoration:none;

}

.empty-orders{

text-align:center;

padding:80px;

background:white;

border-radius:15px;

}