.product-slider{

display:flex;

align-items:center;

justify-content:center;

gap:40px;

margin-top:40px;

}

.slider-btn{

width:65px;

height:65px;

border:none;

border-radius:50%;

background:#123D73;

color:white;

font-size:22px;

cursor:pointer;

transition:.35s;

box-shadow:0 15px 35px rgba(0,0,0,.15);

}

.slider-btn:hover{

background:#D9A520;

transform:scale(1.08);

}