.fabrication{

position:relative;

padding:150px 8%;

background:url("../../assets/images/hero/hero4.jpg") center/cover;

display:flex;

align-items:center;

justify-content:center;

text-align:center;

overflow:hidden;

}

.fabrication-overlay{

position:absolute;

inset:0;

background:rgba(8,18,34,.82);

}

.fabrication-content{

position:relative;

z-index:2;

max-width:850px;

color:white;

}

.fabrication-content span{

display:inline-block;

padding:10px 20px;

background:rgba(217,165,32,.15);

border:1px solid #D9A520;

border-radius:40px;

color:#D9A520;

font-weight:700;

margin-bottom:30px;

}

.fabrication-content h2{

font-size:60px;

margin-bottom:30px;

line-height:1.15;

}

.fabrication-content p{

font-size:20px;

line-height:1.9;

color:#ddd;

margin-bottom:45px;

}

.fabrication-buttons{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.fabrication-btn{

padding:18px 38px;

background:#D9A520;

color:white;

text-decoration:none;

border-radius:40px;

font-weight:bold;

transition:.35s;

}

.fabrication-btn:hover{

background:#123D73;

}

.fabrication-btn-outline{

padding:18px 38px;

border:2px solid white;

color:white;

text-decoration:none;

border-radius:40px;

font-weight:bold;

transition:.35s;

}

.fabrication-btn-outline:hover{

background:white;

color:#123D73;

}

@media(max-width:768px){

.fabrication{

padding:100px 5%;

}

.fabrication-content h2{

font-size:38px;

}

.fabrication-content p{

font-size:17px;

}

}