.cta{

padding:140px 8%;

background:
linear-gradient(rgba(10,24,45,.85),rgba(10,24,45,.85)),
url("../../assets/images/projects/Steel Gates.jpg");

background-size:cover;

background-position:center;

background-repeat:no-repeat;

text-align:center;

color:white;

}

.cta h2{

font-size:55px;

margin-bottom:25px;

}

.cta p{

max-width:700px;

margin:auto;

line-height:1.8;

font-size:18px;

margin-bottom:40px;

}

.cta-btn{

display:inline-block;

padding:18px 35px;

background:#D9A520;

color:white;

text-decoration:none;

font-weight:bold;

border-radius:40px;

transition:.3s;

}

.cta-btn:hover{

background:white;

color:#123D73;

}

@media(max-width:768px){

.cta{

padding:100px 6%;

}

.cta h2{

font-size:38px;

}

}