*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
}

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:85px;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:0 7%;

  background:#ffffff;

  box-shadow:0 6px 20px rgba(0,0,0,.08);

  z-index:1000;
}

.logo{
  display:flex;
  flex-direction:column;
}

.logo-main{
  color:#D9A520;
  font-size:32px;
  font-weight:800;
  letter-spacing:2px;
}

.logo-sub{
  color:#123D73;
  font-size:15px;
  font-weight:600;
}

.nav-links{
  display:flex;
  gap:35px;
  list-style:none;
}

.nav-links a{
  text-decoration:none;
  color:#222;
  font-weight:600;
  transition:.3s;
}

.nav-links a:hover{
  color:#D9A520;
}

.nav-actions{
  display:flex;
  gap:15px;
}

.login-btn{
  padding:12px 22px;

  border:2px solid #123D73;

  color:#123D73;

  text-decoration:none;

  border-radius:35px;

  font-weight:700;

  transition:.3s;
}

.login-btn:hover{
  background:#123D73;
  color:white;
}

.quote-btn{
  padding:12px 25px;

  background:#D9A520;

  color:white;

  text-decoration:none;

  border-radius:35px;

  font-weight:700;

  transition:.3s;
}

.quote-btn:hover{
  background:#123D73;
}
.menu-icon{
    display:none;
    font-size:30px;
    color:#123D73;
    cursor:pointer;
}

.mobile-buttons{
    display:none;
}

/* Mobile */

@media (max-width:768px){

.navbar{
    padding:18px 5%;
}

.gold{
    font-size:24px;
}

.blue{
    font-size:13px;
}

.menu-icon{
    display:block;
    z-index:1001;
}

.nav-links{
    position:absolute;
    top:80px;
    left:0;
    width:100%;
    background:white;
    flex-direction:column;
    align-items:center;
    gap:25px;
    padding:30px 0;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
    transform:translateY(-150%);
    transition:.4s ease;
}

.nav-links.active{
    transform:translateY(0);
}

.nav-buttons{
    display:none;
}

.mobile-buttons{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:20px;
}
}